@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Combates Marvel</h1>
    <a href="@Url.Action("puntuarCombate", "Combate")">Puntuar combate</a>
    <br />
    <a href="@Url.Action("verClasificacion", "Combate")">Ver tabla de clasificación</a>
</div>
